[user]
	name = Obed Tandadjaja
	email = obed.tandadjaja@gmail.com
[credential]
	helper = osxkeychain
[alias]
	lol = log --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %s\" --abbrev-commit --graph --decorate
	lola = log --pretty=oneline --abbrev-commit --graph --decorate --all
	branch = branch --sort=-committerdate
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
